﻿@model ApriCodeTest.Web.Models.WeaponsModel

@{
    ViewBag.Title = "Weapons List";
}

	@foreach (var weapon in Model.Weapons)
	{
		<form method="post" action="@Url.Action("Update", "Home")">
		    <input name="Id" value="@weapon.Id" type="hidden"/>
		    <input name="Type" value="@weapon.Type"/>
		    <input name="Name" value="@weapon.Name"/>
			<input type="submit" value="Edit"><!---- todo - script ---->
		</form>
	    <br>
	}
	<form method="post"  action="@Url.Action("Create", "Home")">
	    <input name="Type" value=""/>
	    <input name="Name" value=""/>
		<input type="submit" value="Add"><!---- todo - script ---->
	</form>